<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="Free cyclone's alerts">
    <meta name="author" content="Cyclon">
    
    <title> <%= title %> </title>

    <meta property="og:site_name" content="Cyclon" />
	<meta property="og:site" content="http://cyclon.com.mx/"/>
	<meta property="og:title" content="<%= title %>"/>
	<meta property="og:description" content="Main page" />
	<meta property="og:image" content="/images/favicon.ico"/>
	<meta property="og:url" content="http://cyclon.com.mx/"/>
	<meta property="og:type" content="article" />

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/fontawesome-all.css" rel="stylesheet">
    <link href="/css/swiper.css" rel="stylesheet">
	<link href="/css/magnific-popup.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">

    <link rel="icon" href="/images/favicon.ico">
    
</head>
<body data-spy="scroll" data-target=".fixed-top">

    <%- include("./components/loader") %>
    <%- include("./components/navbar-unregister",{assets: assets}) %> 

    <header id="header" class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1><%= assets.account_verified %></h1>
                    <a class="btn-outline-reg back" href="/"><%= assets.buttons.back %></a>
                </div>
            </div>
        </div>
    </header>

    <div class="ex-basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumbs">
                        <a id="homeButtonHeader"><%= assets.titles.index %></a><i class="fa fa-angle-double-right"></i><span><%= assets.titles.verify %></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include("./components/footer",{assets: assets}) %> 

</body>

<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/popper.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
<script src="/js/lib/jquery.easing.min.js"></script>
<script src="/js/lib/swiper.min.js"></script>
<script src="/js/lib/jquery.magnific-popup.js"></script>
<script src="/js/lib/morphext.min.js"></script>
<script src="/js/lib/validator.min.js"></script>
<script src="/js/lib/scripts.js"></script>

<script>

    document.getElementById("loginButton").setAttribute("href","/?action=login");
    document.getElementById("registerButton").setAttribute("href","/?action=register");
    document.getElementById("contactButton").setAttribute("href","/#contact");
    document.getElementById("homeButton").setAttribute("href","/#header");
    document.getElementById("homeButtonHeader").setAttribute("href","/#header");
    document.getElementById("homeImageButton").setAttribute("href","/#header");
    document.getElementById("privacyButton").setAttribute("href","#header");
    document.getElementById("termsButton").setAttribute("href","/terms");

</script>

</html>