<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <meta name="description" content="Free cyclone's alerts">
    <meta name="author" content="Cyclon">

    <title> <%= title %> </title>

    <meta property="og:site_name" content="Cyclon" />
	<meta property="og:site" content="http://cyclon.com.mx/"/>
	<meta property="og:title" content="<%= title %>"/>
	<meta property="og:description" content="Main page" />
	<meta property="og:image" content="/images/favicon.ico"/>
	<meta property="og:url" content="http://cyclon.com.mx/"/>
	<meta property="og:type" content="article" />

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/fontawesome-all.css" rel="stylesheet">
    <link href="/css/swiper.css" rel="stylesheet">
	<link href="/css/magnific-popup.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/alert.css" rel="stylesheet">

    <link rel="icon" href="/images/favicon.ico">
    
</head>
<body data-spy="scroll" data-target=".fixed-top">

    <%- include("./components/loader") %>

    <%- include("./components/navbar-register",{assets: assets}) %> 

    <div class="basic-1">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <center><h2><%= (assets.alerts).toUpperCase() %></h2></center>
                    <center>
                        <%- include("./components/map",{assets: assets}) %> 
                    </center>
                </div>
                <div class="col-4"  id="panelAlert">
                    
                </div>
            </div>
        </div>
    </div>
 
    <%- include("./components/footer",{assets: assets}) %> 

</body>

<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/popper.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
<script src="/js/lib/jquery.easing.min.js"></script>
<script src="/js/lib/swiper.min.js"></script>
<script src="/js/lib/jquery.magnific-popup.js"></script>
<script src="/js/lib/morphext.min.js"></script>
<script src="/js/lib/validator.min.js"></script>
<script src="/js/lib/scripts.js"></script>
<script src="/js/alertManager.js"></script>
<script src="/js/lib/alert.js"></script>

<script>

    const assets = JSON.parse('<%- JSON.stringify(assets) %>')

    document.getElementById("homeButton").setAttribute("href","#");
    document.getElementById("homeImageButton").setAttribute("href","#");
    document.getElementById("privacyButton").setAttribute("href","/privacy");
    document.getElementById("termsButton").setAttribute("href","/terms");

    document.getElementById("homeButton").setAttribute("class","nav-link page-scroll active")

</script>

<% if(!context.verify){ %>
    <script>
        const addPanelInfo = false
        alert.show(assets.verification,assets.notice)
        $("#panelAlert").html(`
                <br><br><br><br><br><br><br><br><br><br><br>
                <center>
                    <h4>${assets.verification}</h4>
                </center>
            `)
    </script>
<% } else { %>
    <script>
        const addPanelInfo = () => {

            latUser = parseFloat('<%- functions.decryptAES(context.location.lat) %>')
            lngUser =  parseFloat('<%- functions.decryptAES(context.location.lng) %>')

            if(activeCyclones.length == 0)
                $("#panelAlert").html(`
                <br><br><br><br><br><br><br><br><br><br><br>
                <center>
                    <h4>${assets.alertMessages.no_alerts}</h4>
                </center>
            `)
        
            activeCyclones.forEach(element => {
        
                let lastPoint =  element.realTrajectory[element.realTrajectory.length - 1]
                let category = getCategoryRadious(lastPoint.windSpeed)[0]
                let radious = getCategoryRadious(lastPoint.windSpeed)[1]
        
                let distance = getDistance(latUser, lngUser, lastPoint.position.lat, lastPoint.position.lng)
                
                if(radious<distance<radious+250)
                    $("#panelAlert").html(`
                    
                    `)
        
            })
        }
    </script>
<% } %>

</html>