<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %> </title>
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Hind&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <%- include("./components/navbar-unregister") %> 

    <div id="app">    
        <%- include('./components/login-form',{assets: assets, errors: errors}) %>
        <%- include('./components/register-form',{assets: assets, errors: errors}) %>
    </div>

    <center>

        <section class="section section-md text-center mt-5 mb-5 mx-auto">
            <div>
                <h4>Alertas actuales</h4>
            </div>
            <%- include("./components/map") %> 
        </section>

        <div class="container">
            <div>
                <h4>Tweets de Cyclon</h4>
                <%- include("./components/twitter-history") %> 
            </div>
        </section>

    </center>
</body>

<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/vue.js"></script>
<script src="/js/regex.js"></script>
<script src="/js/index.js"></script>
<script src="/js/alertManager.js"></script>

<script>
    $(document).ready(()=>{
        var searchParams = new URLSearchParams(window.location.search);
        if(searchParams.get("action")=="register"){
            $('#registro').modal('show');
        }
        if(searchParams.get("action")=="login"){
            $('#loginModal').modal('show');
        }
        if(searchParams.get("action")=="recoverPassword"){
            $('#newPassword').modal('show');
        }
    });
</script>

</html>