<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="Free cyclone's alerts">
    <meta name="author" content="Cyclon">
    
    <title> <%= title %> </title>

    <meta property="og:site_name" content="Cyclon" />
	<meta property="og:site" content="http://cyclon.com.mx/"/>
	<meta property="og:title" content="<%= title %>"/>
	<meta property="og:description" content="Main page" />
	<meta property="og:image" content="/images/favicon.ico"/>
	<meta property="og:url" content="http://cyclon.com.mx/"/>
	<meta property="og:type" content="article" />

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/fontawesome-all.css" rel="stylesheet">
    <link href="/css/swiper.css" rel="stylesheet">
	<link href="/css/magnific-popup.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">

    <link rel="icon" href="/images/favicon.ico">
    
</head>
<body data-spy="scroll" data-target=".fixed-top">

    <%- include("./components/loader") %>
    <%- include("./components/navbar-unregister",{assets: assets}) %> 

    <header id="header" class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1><%= assets.titles.privacy %></h1>
                </div>
            </div>
        </div>
    </header>

    <div class="ex-basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumbs">
                        <a id="homeButtonHeader"><%= assets.titles.index %></a><i class="fa fa-angle-double-right"></i><span><%= assets.titles.privacy %></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

   <div class="ex-basic-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">

                    <div class="text-container" style="text-align: justify;">
                        <h3>¿Para qué fines utilizaremos sus datos personales?</h3>
                        <p>Los datos personales que recabamos de usted, los utilizaremos para las siguientes finalidades que son necesarias para el servicio que solicita:</p>                                      
                        <ul class="list-unstyled li-space-lg indent">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Confirmar su propiedad sobre la cuenta de correo electrónico.</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Confirmar su propiedad sobre el número telefónico.</div>
                            </li>
                        </ul>
                        <p>De manera adicional, utilizaremos su información personal para las siguientes finalidades que no son necesarias para el servicio solicitado, pero que nos permiten y facilitan brindarle una mejor atención: </p>
                        <ul class="list-unstyled li-space-lg indent">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Ubicar al usuario geográficamente con la intención de notificar solamente cuando sea necesario.</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">La emisión de alertas vía SMS, en caso de que suceda una catástrofe de índole natural y con la finalidad de evitar situaciones adversas como la pérdida de conexión a internet.</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Actualización de datos personales.</div>
                            </li>
                        </ul>
                        <p>En caso de que no desee que sus datos personales sean tratados para estos fines adicionales, usted puede presentar desde este momento un escrito manifestando lo anterior. La negativa para el uso de sus datos personales para estas finalidades secundarias no podrá ser un motivo para que le neguemos los servicios que solicita o contrata con nosotros. En cambio, para las funcionalidades principales son imprescindibles estos datos y lamentablemente no podrá tener acceso a nuestros servicios.</p>
                    </div>

                    <div class="text-container" style="text-align: justify;">
                        <h3>¿Qué datos personales recabamos y utilizamos sobre usted?</h3>
                        <p>
                            Para llevar a cabo las finalidades descritas en el presente aviso de privacidad, utilizaremos los siguientes datos personales: nombre completo, país de residencia, teléfono y correo electrónico particulares, ubicación GPS.
                            Toda la información ingresada al sistema está cifrada punto a punto lo cual hace seguro el transporte y la lectura de datos. Puede tener la certeza que nadie ajeno a usted conocerá o a nuestras empresas colaboradoras sus datos privados. 
                            Al hacer uso del sitio web, usted declara ser mayor de edad y se entenderá que ha otorgado su consentimiento para la recopilación de la información mostrada en estas políticas. 
                            Al registrarse se toma concerniente qué toda la información ingresada es correcta y no falsa, en caso de información falsa, duplicidad de identidad o falta de información en campos requeridos HyperSoftCode se deslinda de cualquier problema al usuario o terceros. 
                            Esta compañía no venderá, cederá ni distribuirá la información personal que es recopilada sin su consentimiento, salvo que sea requerido por un juez con un orden judicial. Es muy importante proteger su información ya que esta puede ser usada para extorsionar o para que algunas empresas le envíen publicidad. 
                        </p>
                    </div>

                    <div class="text-container" style="text-align: justify;">
                        <h3>¿Qué datos personales sensibles utilizaremos?</h3>
                        <p>No es necesario el aporte sobre datos personales considerados como sensibles.</p>
                    </div>

                    <div class="text-container" style="text-align: justify;">
                        <h3>¿Con quién compartimos su información y para qué fines?</h3>
                        <p>
                            Le informamos que sus datos personales son compartidos dentro y fuera del país con las siguientes personas, empresas, organizaciones y autoridades distintas a nosotros, para los siguientes fines:
                        </p>
                        <table class="table" style="color: white;">
                            <thead>
                              <tr>
                                <th>Destinatario de los datos personales</th>
                                <th>País</th>
                                <th>Finalidad</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>Twilio Inc.</td>
                                <td>Estados Unidos</td>
                                <td>Es el proveedor de mensajería telefónica que nos permite emitir alertas vía SMS al número telefónico registrado.</td>
                              </tr>
                              <tr>
                                <td>Openweather Ltd</td>
                                <td>Reino Unido</td>
                                <td>Utilizamos este servicio de datos meteorológicos para informarle usted acerca del clima de su localidad.</td>
                              </tr>
                              <tr>
                                <td>Weatherbit LLC</td>
                                <td>Estados Unidos</td>
                                <td>Compartimos su ubicación GPS con la finalidad de conocer la radiación ultravioleta de su localidad.</td>
                              </tr>
                              <tr>
                                <td>Google Inc.</td>
                                <td>Estados Unidos</td>
                                <td>A través del servicio de Gmail se le hacen llegar correos electrónicos a la cuenta que sea registrada.</td>
                              </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="text-container" style="text-align: justify;">
                        <h3>¿Cómo puede acceder, rectificar o cancelar sus datos personales, u oponerse a su uso?</h3>
                        <p>
                            Usted tiene derecho a conocer qué datos personales tenemos de usted, para qué los utilizamos y las condiciones del uso que les damos (Acceso). Asimismo, es su derecho solicitar la corrección de su información personal en caso de que esté desactualizada, sea inexacta o incompleta (Rectificación); que la eliminemos de nuestros registros o bases de datos cuando considere que la misma no está siendo utilizada conforme a los principios, deberes y obligaciones previstas en la normativa (Cancelación); así como oponerse al uso de sus datos personales para fines específicos (Oposición). Estos derechos se conocen como derechos ARCO.
                            Para el ejercicio de cualquiera de los derechos ARCO, usted deberá presentar la solicitud respectiva a través de nuestro correo electrónico hypersoftcode@gmail.com
                        </p>  
                        <p>Usted puede revocar el consentimiento que, en su caso, nos haya otorgado para el tratamiento de sus datos personales. Sin embargo, es importante que tenga en cuenta que no en todos los casos podremos atender su solicitud o concluir el uso de forma inmediata, ya que es posible que por alguna obligación legal debamos de seguir tratando sus datos personales. Asimismo, usted deberá considerar que para ciertos fines, la revocación de su consentimiento implica que no le podamos seguir prestando el servicio que nos solicitó, o la conclusión de su relación con nosotros.</p>                      
                    </div>

                    <div class="text-container" style="text-align: justify;">
                        <h3>El uso de tecnologías de rastreo en nuestro portal de Internet</h3>
                        <p>
                            Le informamos que en nuestra página de Internet utilizamos cookies, web beacons y otras tecnologías a través de las cuales es posible monitorear su comportamiento como usuario de Internet, brindarle un mejor servicio y experiencia de usuario al navegar en nuestra página, así como ofrecerle nuevos productos y servicios basados en sus preferencias.
                            Los datos personales que obtenemos de estas tecnologías de rastreo son los siguientes: horario de navegación, tiempo de navegación en nuestra página de Internet, secciones consultadas, y páginas de Internet accedidas previo a la nuestra.
                            Automáticamente al ingresar al sistema se le dará acceso a tecnologías de rastreo las cuales puede o no aceptar. A menos de que usted lo quiera usted puede rechazar dichas cookies. Sin embargo las cookies nos ayudan a proporcionarle un mejor servicio y estas no dan acceso a información de su computadora ni de usted.
                        </p>
                        <p>Asimismo, le informamos que sus datos personales que se obtienen a través de estas tecnologías no los compartiremos con organizaciones externas a HyperSoftCode.</p>
                        <p>El presente aviso de privacidad puede sufrir modificaciones, cambios o actualizaciones derivadas de nuevos requerimientos legales; de nuestras propias necesidades por los productos o servicios que ofrecemos; de nuestras prácticas de privacidad; de cambios en nuestro modelo de negocio, o por otras causas.</p>  
                        <p>  Nos comprometemos a mantenerlo informado sobre los cambios que pueda sufrir el presente aviso de privacidad, a través de el envío de un correo electrónico a su cuenta registrada.</p>  
                        <p> HyperSoftCode Se reserva el derecho de cambiar los términos de la presente Política de Privacidad en cualquier momento sin aviso previo, por lo que le recomendamos y enfatizamos revisar continuamente esta página para asegurarse que está de acuerdo con dichos cambios. A su vez, la empresa se deslinda en caso de que el usuario esté implicado en actividades ilegales o si la información ingresada resulta ser falsa.</p>
                    </div>                     
                    
                    <a class="btn-outline-reg back" href="/"><%= assets.buttons.back %></a>
                </div>
            </div>
        </div>
    </div>

    <div class="ex-basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumbs">
                        <a href="/"><%= assets.titles.index %></a><i class="fa fa-angle-double-right"></i><span><%= assets.titles.privacy %></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include("./components/footer",{assets: assets}) %> 

</body>

<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/popper.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
<script src="/js/lib/jquery.easing.min.js"></script>
<script src="/js/lib/swiper.min.js"></script>
<script src="/js/lib/jquery.magnific-popup.js"></script>
<script src="/js/lib/morphext.min.js"></script>
<script src="/js/lib/validator.min.js"></script>
<script src="/js/lib/scripts.js"></script>

<script>

    document.getElementById("loginButton").setAttribute("href","/?action=login");
    document.getElementById("registerButton").setAttribute("href","/?action=register");
    document.getElementById("contactButton").setAttribute("href","/#contact");
    document.getElementById("homeButton").setAttribute("href","/#header");
    document.getElementById("homeButtonHeader").setAttribute("href","/#header");
    document.getElementById("homeImageButton").setAttribute("href","/#header");
    document.getElementById("privacyButton").setAttribute("href","#header");
    document.getElementById("termsButton").setAttribute("href","/terms");

</script>

</html>