<div id="contact" class="form">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2><%= (assets.contact).toUpperCase() %></h2>
                <ul class="list-unstyled li-space-lg">
                    <li class="address"><%= assets.contact_label %></li>
                    <!-- <li><i class="fas fa-map-marker-alt"></i>22 Innovative, San Francisco, CA 94043, US</li> -->
                    <!-- <li><i class="fas fa-phone"></i><a class="blue" href="tel:003024630820">+81 720 2212</a></li> -->
                    <li><i class="fas fa-envelope"></i><a class="blue" >hypersoftcode@gmail.com</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                
                <form id="contactForm" data-toggle="validator" data-focus="false">
                    <div class="form-group">
                        <input type="text" class="form-control-input" id="cname" required>
                        <label class="label-control" for="cname"><%= assets.inputs.name %></label>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control-input" id="subject" required>
                        <label class="label-control" for="cemail"><%= assets.inputs.subject %></label>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control-textarea" id="message" required></textarea>
                        <label class="label-control" for="cmessage"><%= assets.inputs.message %></label>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group checkbox">
                        <input type="checkbox" id="cterms" value="Agreed-to-Terms" required><%= assets.read %> <a href="privacy-policy.html"><%= (assets.privacy).toLowerCase() %></a> <%= assets.and %> <a href="terms-conditions.html"><%= (assets.terms).toLowerCase() %></a> 
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="form-control-submit-button" onclick="authenticate().then(loadClient)"><%= (assets.buttons.send_message).toUpperCase() %></button>
                    </div>
                    <div class="form-message">
                        <div id="cmsgSubmit" class="h3 text-center hidden"></div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
