<footer id="colophon" class="site-footer">
    <div class="site-wrapper">
        <div class="footer-container grids two">
            <div class="column">

                <a href="#" class="logo-footer">
                    <span class="text-indent-hidden">Cyclon</span>
                    <span class="icon">
                        <h1>Cyclon</h1>
                    </span>
                </a>

                <p class="desc-footer">
                    <%= assets.description%>.
                </p>

                <div class="grids two">

                    <div class="column social-buttons">
                        <a href="https://twitter.com/HyperSoftCode1" class="btn btn-twitter" target="_blank">
                            <span class="text-indent-hidden">Twitter</span>
                            <span class="icon">
                                <svg width="24" height="24" viewBox="0 0 24 24">
                                    <path
                                        d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6.066 9.645c.183 4.04-2.83 8.544-8.164 8.544-1.622 0-3.131-.476-4.402-1.291 1.524.18 3.045-.244 4.252-1.189-1.256-.023-2.317-.854-2.684-1.995.451.086.895.061 1.298-.049-1.381-.278-2.335-1.522-2.304-2.853.388.215.83.344 1.301.359-1.279-.855-1.641-2.544-.889-3.835 1.416 1.738 3.533 2.881 5.92 3.001-.419-1.796.944-3.527 2.799-3.527.825 0 1.572.349 2.096.907.654-.128 1.27-.368 1.824-.697-.215.671-.67 1.233-1.263 1.589.581-.07 1.135-.224 1.649-.453-.384.578-.87 1.084-1.433 1.489z">
                                    </path>
                                </svg>
                            </span>
                        </a>

                        <a href="" class="btn btn-facebook" target="_blank">
                            <span class="text-indent-hidden">Facebook</span>
                            <span class="icon">
                                <svg height="24" viewBox="0 0 24 24" width="24">
                                    <path
                                        d="m12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm3 8h-1.35c-.538 0-.65.221-.65.778v1.222h2l-.209 2h-1.791v7h-3v-7h-2v-2h2v-2.308c0-1.769.931-2.692 3.029-2.692h1.971z">
                                    </path>
                                </svg>
                            </span>
                        </a>

                    </div>

                    <div class="column app-buttons">
                        <a href="" class="btn btn-app-store" target="_blank">
                            <img class="lazy loaded" src="https://w3lcdn.w3layouts.com/wp-content/themes/w3l-wp-theme-2019/images/apple-app-store-badge.svg" data-src="https://w3lcdn.w3layouts.com/wp-content/themes/w3l-wp-theme-2019/images/apple-app-store-badge.svg" alt="" data-was-processed="true">
                        </a>
                        <a href="" class="btn btn-play-store" target="_blank">
                            <img class="lazy loaded" src="https://w3lcdn.w3layouts.com/wp-content/themes/w3l-wp-theme-2019/images/google-play-store-badge.png" data-src="https://w3lcdn.w3layouts.com/wp-content/themes/w3l-wp-theme-2019/images/google-play-store-badge.png" alt="" data-was-processed="true">
                        </a>
                    </div>

                </div>
            </div>
            <div class="column grids two grid-align-center">
                <ul class="column list-reset line-height-2">
                    <li><a href=""><%= assets.about%></a></li>
                    <li><a href=""><%= assets.contact%></a></li>
                    <li><a href=""><%= assets.faq%></a></li>
                </ul>
                <ul class="column list-reset line-height-2">
                    <li><a href="">@NOAA</a></li>
                    <li><a href="">@Windy</a></li>
                    <li><a href="">@Leaflet</a></li>
                </ul>
            </div>
        </div>
        <div class="site-info grids two">
            <p>© 2020 Cyclon. <%= assets.rights %></p>
            <div class="links">
                <a href=""><%= assets.privacy %></a> —
                <a href=""><%= assets.terms %></a></div>
        </div>
    </div>
</footer>